.unity-tab-view {
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Examples%20&%20Extras/Fonts/Anton.ttf?fileID=12800000&guid=997a43b767814dd0a7642ec9b78cba41&type=3#Anton");
    font-size: 24px;
    text-overflow: ellipsis;
    flex-grow: 1;
    flex-direction: row;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: rgb(202, 182, 138);
}

.unity-tab-view__content-viewport {
    width: 200px;
    flex-direction: column;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.unity-tab-view__header-container {
    flex-grow: 1;
    align-items: flex-end;
    flex-direction: column;
    align-self: stretch;
}

.unity-tab__header {
    text-overflow: ellipsis;
    align-self: flex-end;
    height: 60px;
    width: 150px;
    margin-bottom: 5px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.unity-tab__header-label {
    text-overflow: ellipsis;
    overflow: hidden;
    -unity-font-style: normal;
    flex-direction: column;
    flex-grow: 1;
    -unity-text-align: upper-right;
}

.unity-tab__header-underline {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.unity-tab-view__content-container {
    flex-grow: 1;
}

.unity-tab {
    flex-grow: 1;
}

.unity-tab-view__content-viewport > .unity-tab-view__next-button {
    visibility: hidden;
    display: none;
}

.unity-tab-view__content-viewport > .unity-tab-view__previous-button {
    visibility: hidden;
    display: none;
}

.unity-tab > #unity-tab__content-container {
    flex-grow: 1;
}
